.title{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 1rem;
    text-align: center
}

.title-foot{
    font-family: 'Times New Roman';
    font-size: medium;
    margin-bottom: 1rem;
    text-align: center
}

.subtitle{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
    text-align: center
}

.section-title{
    font-family: 'Times New Roman';
    margin-top: 1rem;
    text-align: center;
    font-size: medium;
}

.body{
    font-family: 'Times New Roman';
    font-size: medium;
}

.header{
    font-family: 'Times New Roman';
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

ul.experience-item li { margin-bottom: 0.5rem;  font-size: medium}
